@{
  Layout = "_Layout";
}

<h1>Welcome to the Best Restaurants!</h1>
<p>@Html.ActionLink("See all restaurant", "Index", "Restaurants")</p> <p>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</p>